<%= form_for(@wayaku) do |f| %>
  <% if @wayaku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wayaku.errors.count, "error") %> prohibited this wayaku from being saved:</h2>

      <ul>
      <% @wayaku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :post_type %><br>
    <%= f.number_field :post_type %>
  </div>
  <div class="field">
    <%= f.label :selected_category %><br>
    <%= f.number_field :selected_category %>
  </div>
  <div class="field">
    <%= f.label :questionBody %><br>
    <%= f.text_field :questionBody %>
  </div>
  <div class="field">
    <%= f.label :answer_of_user %><br>
    <%= f.text_field :answer_of_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
